# build artifacts
*.aux
*.auxlock
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.brf
*.acn
*.glo
*.gls
*.ist
*.nls
*.nlo
*.dpth
*.md5
*.acr
*.alg
*.glg
*.fdb_latexmk
*.fls
output.pdf
# tikz externalization cache
tikz-cache/

# local distribution artifacts
/dist/
