# LaTeX build files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.pdf
*.dvi
*.lof
*.lot

# Glossaries and Acronyms
*.acr
*.alg
*.brf
*.glg
*.gls
*.acn
*.glo
*.ist

# VS Code
.vscode/
